html {
  height: 110%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110%;
  width: 100%;
}

input {
  width: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.mainContainer {
  background-color: gray;
  width: 400px;
  border: 2px solid black;
}

.titleTurnament {
  text-align: center;
  border-bottom: 1px solid black;
}

.inputButtonsFieldsMain {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

.inputButtonsFieldsMain p {
  margin: 0;
}

.inputNumbersGoals {
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  gap: 4px;
}

.inputNumbersCorners,
.inputNumbersShotAtGoal,
.inputNumbersGameBallOutOfPlay {
  height: auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  gap: 4px;
}

.teamInput {
  align-self: flex-start;
  width: 160px;
  border-radius: 5px;
  border: none;
  padding: 2px;
}

.submitButton {
  height: 30px;
  width: 100px;
  margin-top: 6px;
  border-radius: 6px;
  border: none;
}

.buttonStorageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
  gap: 20px;
}

.inputButtonAndNumbersFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ranks,
.matchs,
.stats {
  border: 1px solid black;
  height: 140px;
  overflow-y: auto;
  overflow-x: auto;
}

.stats {
  height: 150px;
}

li {
  width: 52em;
}

table,
th {
  margin-top: 12px;
  margin-left: 10px;
  border: 2px solid black;
  width: 380px;
}

td {
  border: 1px solid black;
  width: 200px;
}

h3 {
  margin: 0;
  width: min-content;
  padding: 2px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.teamName {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  width: 260px;
}

.listOrder,
.listUnOrder {
  padding-top: 5px;
  padding-left: 35px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .mainContainer {
    width: 260px;
  }

  .teamInput {
    border-radius: 5px;
    border: none;
    padding: 2px;
    width: 100px;
  }
}
