* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.mainContainer {
    background-color: gray;
    width: 400px;
    border: 2px solid black;
}

.title-turnament {
    height: 50px;
    text-align: center;
    border: 1px solid black;
}

.input-buttons-fields-main {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}

.team-input {
    align-self: flex-start;
    border-radius: 5px;
    border: none;
    padding: 2px;
}

.scoreTeam {
    width: 50px;
    border: none;
    border-radius: 5px;
}

.input-numbers {
    border: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}

.saveButton {
    height: 30px;
    width: 100px;
    margin-top: 6px;
    border-radius: 6px;
    border: none;
}

.input-buttonAndNumbers-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ranks,
.matchs {
    border: 1px solid black;
    height: 140px;
}

h3 {
    width: min-content;
    padding: 2px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.list-order,
.list-unOrder {
    padding-top: 5px;
    padding-left: 35px;
    font-weight: bold;
}

.list-item-order {
    list-style-type: decimal;
}

.list-item {
    list-style-type: disc;
}


@media screen and (max-width: 900px) and (max-width: 1400px) {
    html {
        height: 90%;
    }
}

@media screen and (max-width: 450px) {
    .mainContainer {
        width: 300px;
    }

    html {
        height: 80%;
    }

    .team-input {
        border-radius: 5px;
        border: none;
        padding: 2px;
        width: 120px;
    }

}

@media screen and (max-width: 365px) {
    .mainContainer {
        width: 200px;
    }

    html {
        height: 100%;
    }

    .team-input {
        border-radius: 5px;
        border: none;
        padding: 2px;
        width: 80px;
    }

}

@media screen and (max-height: 610px) {
    .mainContainer {
        width: 200px;
    }

    html {
        height: 90%;
    }

    .ranks,
    .matchs {
        height: 100px;
    }

    .title-turnament {
        height: 30px;
    }

    .input-buttons-fields-main {
        height: 130px;
    }

    .team-input {
        border-radius: 5px;
        border: none;
        padding: 2px;
        width: 80px;
    }

}

@media screen and (max-height: 610px) and (min-width: 325px) {
    .mainContainer {
        width: 300px;
    }

    html {
        height: 90%;
    }

    .ranks,
    .matchs {
        height: 100px;
    }

    .title-turnament {
        padding: 0;
        height: 30px;
    }

    .input-buttons-fields-main {
        height: 130px;
    }

    .team-input {
        border-radius: 5px;
        padding: 2px;
        width: 120px;
    }

}